html {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    background-image: url("../Images/base_bg.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


#file {
    display: none;
}
/* main layout
----------------------------------------------------------*/
#header {
    position:relative;
    width: 1200px;
    margin: 0 auto;
    height:100px;
    background-image: url("../../../Images/logo_black.gif");
    background-repeat: no-repeat;
    background-position: 0 10px;
}

#body {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
}


footer {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    min-height:200px;
    background-image: url("../Images/footer_bg.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Bootstrap customazation */

.btn {
    border-radius: 0;
}

.page-header {
    margin: 0;
    font-size: 1.4em;
}

/* Main menu */
nav {
    width: 1200px;
	margin: 0 auto;
}

#menu
{
    width: 100%;
	padding: 10px 0 0 0;
	list-style: none;  
	background: #111;
	background: -moz-linear-gradient(#444, #111); 
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));	
	background: -webkit-linear-gradient(#444, #111);	
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);
	/*border-radius: 50px;*/
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
}

#menu li
{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
	line-height: 0;
}

#menu a 
{
	float: left;
	height: 25px;
	padding: 0 25px;
	color: #ccc;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#menu li:hover > a
{
	color: #fafafa;
}

*html #menu li a:hover /* IE6 */
{
	color: #fafafa;
}

#menu li:hover > ul
{
	display: block;
}

/* Sub-menu */

#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);
    -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(255,255,255,.5);	
    -moz-border-radius: 5px;
    /*border-radius: 5px;*/
}

#menu ul ul
{
  top: 0;
  left: 130px;
}

#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child
{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a
{    
    padding: 10px;
	height: 10px;
	width: 130px;
	height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
	text-transform: none;
}

*html #menu ul a /* IE6 */
{    
	height: 10px;
}

*:first-child+html #menu ul a /* IE7 */
{    
	height: 10px;
}

#menu ul a:hover
{
    /*background: #0186ba;
	background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);*/
    background: #e86060;
	background: -moz-linear-gradient(#e86060,  #e86060);	
	background: -webkit-gradient(linear, left top, left bottom, from(#e86060), to(#e86060));
	background: -webkit-linear-gradient(#e86060,  #e86060);
	background: -o-linear-gradient(#e86060,  #e86060);
	background: -ms-linear-gradient(#e86060,  #e86060);
	background: linear-gradient(#e86060,  #e86060);
}

#menu ul li:first-child > a
{
    -moz-border-radius: 5px 5px 0 0;
    /*border-radius: 5px 5px 0 0;*/
}

#menu ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;	
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #e86060; 
}

#menu ul ul li:first-child a:hover:after
{
    border-right-color: #e86060; 
    border-bottom-color: transparent; 	
}


#menu ul li:last-child > a
{
    -moz-border-radius: 0 0 5px 5px;
    /*border-radius: 0 0 5px 5px;*/
}

/* Clear floated elements */
#menu:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */


/* site title
----------------------------------------------------------*/
#header #title {
    position: absolute;
    top: 16px;
    left: 80px;
}

/* site body
----------------------------------------------------------*/
#body {
    width: 1200px;
    margin: 0 auto;
}

/* login
----------------------------------------------------------*/

/* logout
----------------------------------------------------------*/
#logout-form {
    margin-top:20px;
}

/* menu
----------------------------------------------------------*/


/* Modules
----------------------------------------------------------*/
/* About Us */

#about-us-form textarea {
    height: 300px;
}

/* DT Theatre.History */
#theatre-history-form textarea {
    height: 200px;
}

#image-container {
    margin-top: 10px;
}

    #image-container button[type="submit"] {
        display: none;
    }

.thumbnail-history .description {
    width: 100%;
    height: 70px;
}

/* page elements
----------------------------------------------------------*/
/* featured */


/* content */
article {
    /*float: left;
    width: 70%;*/
}

aside {
    /*float: right;
    width: 25%;*/
}

/* login page */


/* contact */


/* forms */


/* info and errors */
.message-info {
    
}

.message-error {
    
}

.message-success {
    
}

.error {
    
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/

